@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');

$white: #ffff;
$black: #0000;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #868e96;
$gray-700: #495057;
$gray-800: #2C3531;
$blue: #116466;
$purple: #FDCC42;
$pink: #e83e8c;
$red: #D9B08C;
$orange: #f0ad4e;
$yellow: rgb(63, 53, 43);
$green: #325B67;
$teal: #20c997;
$cyan: rgb(66, 61, 46);
$primary: $blue;
$secondary: $gray-800;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;
$enable-rounded: false;
$body-color: $gray-800;
$font-family-sans-serif: Barlow;
$font-size-base: 0.9375rem;
$headings-font-weight: 300;
$navbar-dark-hover-color: rgba($white, 1);
$navbar-light-hover-color: rgba($black, .9);
$alert-border-width: 0;
$progress-height: 0.5rem;

body {
  margin: 0;
  font-family: Barlow,
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

//based on default Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn {
  border: 1px solid $success;
}

.navbar-link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --blue: #116466;
  --indigo: #6610f2;
  --purple: #FDCC42;
  --pink: #e83e8c;
  --red: #D9B08C;
  --orange: #f0ad4e;
  --yellow: #3f352b;
  --green: #325B67;
  --teal: #20c997;
  --cyan: #423d2e;
  --white: #ffff;
  --gray: #868e96;
  --gray-dark: #2C3531;
  --primary: #116466;
  --secondary: #2C3531;
  --success: #325B67;
  --info: #423d2e;
  --warning: #3f352b;
  --danger: #D9B08C;
  --light: #f8f9fa;
  --dark: #2C3531;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: Barlow;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  -webkit-font-smoothing: antialiased;
  font-family: Barlow;
  line-height: 1.5;
  font-size: 0.9375rem;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.keg-item {
  cursor: pointer;
}

.keg-item:hover {
  box-shadow: 0 0 5px 0 #0c4445;
}

.nav-link:focus {outline:none;}